* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.btn {
    width: 146px;
    height: 40px;
    top: 21px;
    background-color: inherit;

    border: 2px solid black;
    transition: 1s;
}

.btn:hover {
    background-color: blue;
    color: white;
}

.btnn {
    width: 32px;
    height: 32px;
    background-color: initial;
    font-size: 20px;
    display: none;
}

.hero {
    background-color: #2D2641;
    padding: 50px 0;
    height: 600px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.chiziq {
    width: 150px;
    border: 1px solid white;
    margin-bottom: 63px;
}

.hero h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: white;
}

.hero p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    margin: 16px 0 24px;
}

.hero-text {
    width: 540px;
}

.hero-btn {
    padding: 12px 28px;
    color: white;
    background-color: inherit;
    border: 2px solid white;
}

h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
}

.a {
    width: 86px;
    height: 86xp;
    top: 1209px;
    left: 545px;
}

.hera {
    margin-top: 200px;
}

.ota {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
}

.bola {
    width: 350px;
    height: 250px;

}
h3{
    margin-bottom: 10px;
}
.bola p{
    line-height: 30px;
}
.shox {
    margin-top: 200px;
    background-color: #2D2641;
    padding: 40px 50px;
}
.shox h1 {
    color: white;
    font-weight: 500;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.78px;

}
.shox button {
    border: 1px solid white;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: white;
    margin-left: 400px;
    width: 160px;
    height: 40px;
    margin-top: 50px;
}
.shox {
    display: flex;
    margin-bottom: 200px;
}
















@media(max-width:768px) {
    nav {
        display: none;
    }

    .btnn {
        display: block;
    }

    header {
        padding: 20px;
    }

    .hero .container {
        flex-direction: column-reverse;
    }

    .hero {
        height: auto;
    }

    .hero img {
        width: 100%;
    }
    .chiziq{
        display: none;
    }
    .ota{
        flex-wrap: wrap;
        justify-content: center;
    }
    .shox{
        flex-direction: column;
    }
    .shox button{
        margin: 0;
    }
}